@media (max-width:1638px){
    :root{
        --nav-fonts:16px;
    }
    .slick-slide .project-img{
        height: 301px;
        width: 94.5%;
    }
    .slick-cloned .project-img{
        height: 301px;
        width: 94.5%;
    }
    .slick-active .project-img{
        height: 345px;
        width: 87%;
    }
    .slick-center .project-img{
        height: 404px;
        width: 95%;
    }
    .navigation nav li .nav-links{
        padding: 0 15px 30px 15px;
    }
    .navigation nav li:last-child .nav-links{
        padding: 12px 26px;
    }
    .card-padding {
        padding-left: 30px;
        padding-right: 30px;
    }
    .card{
        height: 219px;
    }
    .services-item{
        height: 425px;
    }
    .recent-item .recent-project-img{
        height: 330px;
    }
}

@media (max-width: 1399px) {
    :root{
        --fontLarge:48px;
        --nav-fonts:14px;
        --font1:32px;
        --font2:26px;
        --font3:23px;
        --font4:20px;
        --font5:18px;
        --font7:14px;
    }
/* Home Page */

    .header-container, .header-container2{
        height: 78px;
    }
    .head-cont{
        align-items: center;
        padding-top: 18px;
    }
    .head-cont .logo{
        height: 44px;
    }
    .navigation{
        padding-top: 8px;
    }
    .navigation nav li .nav-links{
        font-size: var(--nav-fonts);
        padding: 0 10px 20px 10px;
    }
    .navigation nav li:last-child .nav-links{
        padding: 10px 20px;
    }
    .navigation nav li .nav-links::before{
        bottom: 12px;
    }
    .header-bg-2 .navigation nav li .nav-links::before{
        bottom: 12px;
    }
    .navigation nav li .submenu{
        top: 40px;
        padding:0 10px;
    }
    .navigation nav li .submenu a{
        font-size: var(--nav-fonts);
        margin-bottom: 10px;
        line-height: 18px;
    }
    .search-box{
        padding-top: 10px;
    }
    .search-box form .search-form-box{
        height: 34px;
    }
    .search-box form input{
        font-size: 14px;
    }
    .search-box form button{
        padding-top: 3px;
    }
    .search-box form button span{
        font-size: 18px;
    }
    .search-box .lang-box .lang a{
        font-size: var(--font7);
    }
    .search-box .line, .header-bg .search-box .line{
        margin: 0 15px;
        height: 25px;
    }

    /* Main Banner */
    
    .main-banner{
        height: 636px;
    }
    .main-item{
        height: 636px!important;
    }
    .main-item .main-text{
        width: 710px;
    }
    .main-item .main-text h1{
        line-height: 30px;
        margin-bottom: 15px;
    }
    .main-item .main-text .text{
        width: 65%;
        line-height: 21px;
        max-height: 64px;
    }
    /* Main Banner */

    /* About Section */

    .about-section{
        padding: 50px 0;
    }
    .about-content{
        padding: 0 35px;
    }
    .about-content .about-text h1{
        line-height: 30px;
    }
    .about-content .about-text .text{
        margin-top: 25px;
        margin-bottom: 40px;
    }
    .card{
        height: 170px;
        margin-bottom: 25px;
    }
    .card span{
        font-size: var(--fontLarge);
        line-height: 57px;
    }
    .card-padding{
        padding-left: 22px;
        padding-right: 22px;
    }
    /* About Section */

    /* Projects */

    .projects{
        padding: 50px 0;
    }
    .project-text{
        margin-bottom: 50px;
    }
    .project-text h1{
        line-height: 22px;
    }
    .slick-slide .project-img{
        height: 234px;
        width: 94.5%;
    }
    .slick-cloned .project-img{
        height: 234px;
        width: 94.5%;
    }
    .slick-active .project-img{
        height: 265px;
        width: 87%;
    }
    .slick-center .project-img{
        height: 307px;
        width: 95%;
    }
    .project-person{
        margin-top: 20px;
        height: 62px!important;
    }
    .project-person h1{
        margin-bottom: 10px;
        line-height: 28px;
    }
    .project-person h2{
        margin-bottom: 0;
        line-height: 22px;
    }
    .members-link{
        margin-top: 40px;
    }
    /* Projects */

    /* Services */

    .services{
        padding: 50px 0 30px 0;
    }
    .services-text h1{
        line-height: 32px;
    }
    .services-text{
        margin-bottom: 50px;
    }
    .services-item{
        height: 316px;
        margin-bottom: 20px;
        /* padding: 0 40px; */
    }
    .services-item .white-box{
        width: 89px;
        height: 89px;
    }
    .services-item h2{
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: var(--font7);
        line-height: 17px;
    }
    .services-item .text{
        font-size: var(--font7);
        line-height: 21px;
    }
    /* Services */

    /* Recent Project */

    .recent-projects{
        padding: 50px 0 25px 0;
    }
    .recent-project-text h1{
        line-height: 39px;
        margin-bottom: 15px;
    }
    .recent-project-text{
        margin-bottom: 50px;
    }
    .projects-links .left-side-links button{
        margin-right: 25px;
        margin-bottom: 25px;
        line-height: 22px;
    }
    .recent-item{
        margin-bottom: 25px;
    }
    .recent-item .recent-project-img{
        height: 273px;
        margin-bottom: 10px;
    }
    .recent-item .recent-text .text{
        font-size: 18px;
        line-height: 28px;
        margin-top: 12px;
    }
    /* Recent Project */
    /* Advert */

    .advert-box{
        padding: 60px 0;
    }
    .advert-item{
        line-height: 35px;
    }
    /* Advert */
    /* Footer */
    .footer{
        padding: 50px 0;
    }
    .footer-info a{
        margin-bottom: 10px;
        line-height: 18px;
    }
    .footer-logo{
        width: 132px;
        height: 112px;
        margin-bottom: 25px;
    }
    .socials{
        padding-left: 10px;
    }
    .social-icon{
        margin-left: 15px;
    }
    .social-icon span{
        font-size: 18px;
    }
    /* Footer */
    /* Home Page */
}

@media (max-width:1199px) {
    :root{
        --fontLarge:42px;
        --nav-fonts:12px;
        --font1:28px;
        --font2:22px;
        --font3:20px;
        --font4:18px;
        --font5:16px;
        --font7:12px;
    }
    .search-box form .search-form-box{
        width: 160px;
        height: 30px;
    }
    .search-box form input{
        padding-left: 35px;
    }
    .search-box form button span{
        font-size: 16px;
    }
    .navigation nav li{
        margin: 0 8px;
    }
    .navigation nav li .nav-links{
        padding: 0 7px 20px 7px;
    }
    .navigation nav li:last-child .nav-links{
        padding: 7px 15px;
    }
    .navigation nav li .submenu a{
        line-height: 16px;
        margin-bottom: 8px;
    }
    .about-section{
        padding: 40px 0;
    }
    .card-padding{
        padding: 0 12px;
    }
    .card {
        height: 155px;
        margin-bottom: 25px;
    }
    .about-content .about-text .text{
        line-height: 24px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .projects{
        padding: 40px 0;
    }
    .project-text{
        margin-bottom: 40px;
    }
    .project-text .text{
        line-height: 22px;
    }
    .slick-slide .project-img{
        height: 217px;
        width: 94.5%;
    }
    .slick-cloned .project-img{
        height: 217px;
        width: 94.5%;
    }
    .slick-active .project-img{
        height: 250px;
        width: 87%;
    }
    .slick-center .project-img{
        height: 277px;
        width: 95%;
    }
    .project-person{
        margin-top: 15px;
        height: 55px!important;
    }
    .project-person h1{
        line-height: 26px;
        margin-bottom: 8px;
    }
    .project-person h3{
        line-height: 18px;
    }
    .members-link{
        margin-top: 30px;
    }
    .services{
        padding: 40px 0 20px 0;
    }
    .services-text h1{
        line-height: 26px;
    }
    .services-text{
        margin-bottom: 40px;
    }
    .services-item{
        height: 296px;
    }
    .recent-projects{
        padding: 40px 0 20px 0;
    }
    .recent-project-text h1{
        line-height: 36px;
    }
    .recent-project-text{
        margin-bottom: 40px;
    }
    .recent-item .recent-project-img{
        height: 220px;
    }
    .recent-item{
        margin-bottom: 20px;
    }
    .recent-item .recent-text .text{
        line-height: 22px;
        max-height: 48px;
    }
    .advert-box{
        padding: 50px 0;
    }
    .footer{
        padding: 40px 0;
    }
    .footer-logo {
        width: 130px;
        height: 106px;
        margin-bottom: 20px;
    }
    .footer-info h4{
        margin-bottom: 18px;
    }
    .footer-info a{
        margin-bottom: 8px;
    }
}

@media (max-width:991px){
    :root{
        --fontLarge:33px;
        --nav-fonts:12px;
        --font1:20px;
        --font2:20px;
        --font3:14px;
        --font4:18px;
        --font5:16px;
        --font7:12px;
    }
    /* Home Page */
    .burger{
        display: block;
        position: relative;
    }
    .burger-lines{
        width: 30px;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        overflow: hidden;
        height: 30px;
        z-index: 5;
        position: relative;
    }
    .burg-line{
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
        transition: 0.4s;
    }
    .header-bg .burg-line,
    .header-bg-2 .burg-line{
        width: 100%;
        height: 4px;
        background-color: #1A1A1A;
        border-radius: 4px;
        transition: 0.4s;
    }
    .burg-line:nth-child(2){
        margin:  4px 0;
    }
    .opens .burger-lines .burg-line:nth-child(2){
        transform: translateX(35px);
        background-color: #1A1A1A;
    }
    .opens .burger-lines .burg-line:first-child{
        transform: rotate(45deg) translate(10px, 10px);
        background-color: #1A1A1A;
    }
    .opens .burger-lines .burg-line:last-child{
        transform: rotate(-45deg) translate(1px, -2px);
        background-color: #1A1A1A;
    }
    .burg-menu{
        width: 400px;
        height: 101vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: -20px;
        right: -1200px;
        z-index: 1;
    }
    .opens .burg-menu{
        right: -148px;
        width: 992px;
        transition: 0s;
    }
    .burger-links{
        width: 0px;
        height: 100%;
        background: #fff;
        float: right;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 80px 0;
    }
    .burger-overflow-cont{
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        height: 100%;
        padding: 0 14px 0 20px;
        margin-top: 40px;
    }
    .burger-overflow-cont::-webkit-scrollbar {
        width: 4px;
      }
      .burger-overflow-cont::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px grey; 
        border-radius: 10px;
    }
    .burger-overflow-cont::-webkit-scrollbar-thumb {
        background: #1A1A1A; 
        border-radius: 10px;
      }
      
    .opens .burg-menu .burger-links{
        width: 520px;
    }
    .burger-links form{
        margin-top: 0;
        width: fit-content;
        margin-bottom: 40px;
    }
    .burger form .burger-search{
        width: 238px;
        height: 40px;
        position: relative;
    }
    .burger form .burger-search input{
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        background: #F1F1F2;
        padding-left: 45px;
        color: #1A1A1A;
        font-size: 16px;
        font-family: 'Lato';
        line-height: 19px;
        border-radius: 8px;
    }
    .burger form .burger-search button{
        position: absolute;
        left: 10px;
        top: 0;
        height: 100%;
        border: none;
        padding: 3px 2px 0 2px;
    }
    .burger form .burger-search button span{
        font-size: 24px;
        color: #1A1A1A;
    }
   .burger-links ul{
       padding: 0;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .burger-links ul li{
       list-style: none;
       margin-bottom: 30px;
       position: relative;
   }
   .burger-links ul li a{
       font-size: 26px;
       color: #1A1A1A;
       font-family: 'Lato';
       font-weight: bold;
       margin-right: 10px;
   }
   .burger-links ul li .burger-submenu{
       display: flex;
       flex-direction: column;
       align-items: center;
       overflow: hidden;
       max-height: 0px;
       transition: 0.4s;
   }
   .burger-links ul li .burger-submenu a{
    font-size: 20px;
    color: #1A1A1A;
    font-family: 'Lato';
    font-weight: bold;
   }
   .burger-links ul li span{
       cursor: pointer;
       padding: 0 3px 1px 3px;
       position: absolute;
       right: -20px;
       top: 9px;
       transition: 0.4s;
       display: none;
   }
   .burger-links ul li span i{
       font-size: 14px;
   }
   .burger-links ul li.burger-link-active .burger-submenu{
       max-height: 200px;
   }
   .burger-links ul li.burger-link-active span{
       transform: rotate(180deg);
   }

   .burger-links ul li.arrow-hide span{
        display: block;
    }

    .header-container, .header-container2{
        height: 70px;
    }
    .navigation, .search-box{
        display: none;
    }
    .head-cont {
        padding-top: 16px;
    }
    .head-cont .logo{
        height: 37px;
    }


    /* Main Banner */
    .main-banner{
        height: 447px;
    }
    .main-item{
        height: 447px!important;
    }
    .main-item .main-text{
        max-width: 562px;
    }

    .main-item .main-text h1{
        line-height: 24px;
        margin-bottom: 5px;
    }
    .main-item .main-text .text {
        line-height: 18px;
        max-height: 58px;
    }
    #left-arrow{
        top: 53%;
    }
    #right-arrow{
        top: 53%;
    }

    /* Main Banner */

    /* About Section */

    .about-section {
        padding: 35px 0;
    }
    .about-content .about-text h1{
        line-height: 24px;
    }
    .about-content .about-text .text{
        max-height: 142px;
        font-size: 16px;
    }
    .card span{
        line-height: 40px;
    }
    .card span:last-child{
        font-size: 12px;
        line-height: 15px;
    }
    .card {
        height: 119px;
        margin-bottom: 20px;
    }
    .about-content .more-link{
        font-size: 12px;
        padding: 6px 13px;
        line-height: 15px;
        border-radius: 5px;
    }
    /* About Section */
    /* Projects Section */

    .projects{
        padding: 35px 0;
    }
    .project-text h1{
        margin-bottom: 10px;
    }
    .project-text{
        margin-bottom: 30px;
    }
    .project-person h1{
        line-height: 17px;
    }
    .project-person h2{
        line-height: 15px;
        font-size: 12px;
    }
    .project-person{
        height: 42px!important;
    }
    .members-link{
        margin-top: 25px;
    }
    .projects .members-link .more-link{
        font-size: 12px;
        padding: 8px 18px;
        border-radius: 5px;
    }

    .slick-slide .project-img{
        height: 214px;
        width: 94.5%;
    }
    .slick-cloned .project-img{
        height: 214px;
        width: 94.5%;
    }
    .slick-active .project-img{
        height: 245px;
        width: 87%;
    }
    .slick-center .project-img{
        height: 287px;
        width: 95%;
    }
    /* Project Section */
    /* Service Section */

    .services{
        padding: 35px 0 20px 0;
    }
    .services-text h1{
        line-height: 24px;
        margin-bottom: 10px;
    }
    .services-text{
        margin-bottom: 30px;
    }
    .add-color{
        padding:  0 5px;
    }
    .services-item{
        height: 222px;
    }
    .services-item .white-box{
        width: 62px;
        height: 62px;
        border-radius: 7px;
    }
    .services-item h2{
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 8px;
        margin-bottom: 15px;
    }
    .services-item .text{
        font-size: 12px;
        line-height: 14px;
    }
    /* Service Section */
    /* Recent Project */

    .recent-projects{
        padding: 35px 0 20px 0;
    }
    .recent-project-text h1{
        line-height: 24px;
        margin-bottom: 10px;
    }
    .recent-project-text h3{
        line-height: 14px;
    }
    .recent-project-text{
        margin-bottom: 30px;
    }
    .projects-links .left-side-links button{
        font-size: 14px;
        line-height: 17px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .all-projects-link{
        font-size: 12px;
        line-height: 15px;
        padding-bottom: 3px;
    }
    .pad-l-r{
        padding: 0 6px;
    }
    .recent-item{
        margin-bottom: 15px;
    }
    .recent-item .recent-project-img{
        height: 180px;
        border-radius: 10px;
    }
    .recent-item .recent-project-img img{
        border-radius: 10px;
    }
    .recent-item .recent-text h2{
        font-size: 16px;
    }
    .recent-item .recent-text .text{
        font-size: 14px;
        margin-top: 8px;
        line-height: 20px;
        max-height: 57px;
    }
    /* Recent Project */

    /* Advet- section */

    .advert-box{
        padding: 40px 0;
    }
    .advert-item{
        font-size: 17px;
        line-height: 24px;
    }
    .advert-contact{
        padding: 7px 17px;
        border-radius: 5px;
    }
    /* Advert Sectio */
    /* Footer */
    .footer{
        padding: 35px 0;
    }
    .footer-logo{
        width: 96px;
        height: 78px;
        margin-bottom: 15px;
    }
    .footer-info h4{
        margin-bottom: 12px;
        line-height: 17px;
    }
    .footer-info a{
        font-size: 10px;
        line-height: 14px;
    }
    .social-icon{
        margin-left: 10px;
    }
    .social-icon span{
        font-size: 12px;
    }
    /* Footer */
        /* Home Page */
}


@media (max-width: 850px){
    .opens .burg-menu{
        right: -92px;
        width: 992px;
        transition: 0s;
    }
    .opens .burg-menu .burger-links{
        width: 480px;
    }
    .slick-slide .project-img{
        height: 190px;
        width: 94.5%;
    }
    .slick-cloned .project-img{
        height: 190px;
        width: 94.5%;
    }
    .slick-active .project-img{
        height: 220px;
        width: 87%;
    }
    .slick-center .project-img{
        height: 255px;
        width: 95%;
    }
}
@media (max-width: 768px){
    .opens .burg-menu{
        right: -40px;
        width: 992px;
        transition: 0s;
    }
    .opens .burg-menu .burger-links{
        width: 450px;
    }
}

@media (max-width: 767px){
    :root{
        --fontLarge:35px;
        --nav-fonts:12px;
        --font1:18px;
        --font2:18px;
        --font3:12px;
        --font4:18px;
        --font5:12px;
        --font7:12px;
    }
    /* Home Page */
    .head-cont .logo{
        height: 28px;
    }
    .burger-lines{
        padding-top: 7px;
        height: 37px;
    }
    .burger-links form{
        margin-bottom: 25px;
    }
    .burger-links ul li{
        margin-bottom: 25px;
    }
    .burger-links ul li a{
        font-size: 18px;
    }
    .burger-links ul li span{
        top: 3px;
    }
    .burger-links ul li .burger-submenu a{
        font-size: 16px;
    }
    .opens .burg-menu{
        right: -130px;
    }


    #right-arrow{
        opacity: 0;
    }
    #left-arrow{
        opacity: 0;
    }
    .slick-dots{
        bottom: 0;
    }
    .slick-dots li{
        margin: 0 4px;
    }
    .slick-dots li button{
        height: 4px;
    }
    .slick-dots li.slick-active button {
        width: 24px;
        background-color: #6A6AE5;
    }
    .slick-dots li button{
        width: 8px;
    }
    .main-banner{
        height: 250px;
    }
    .main-item{
        height: 250px!important;
    }
    .main-item .main-text{
        max-width: 324px;
        margin-top: 20px;
    }
    .main-item .main-text h1{
        text-align: center;
        line-height: 22px;
        margin-bottom: 10px;
    }
    .main-item .main-text .text{
        width: 92%;
    }
    .about-section{
        padding: 20px 0;
    }
    .about-content .about-text .text{
        line-height: 18px;
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 12px;
    }
    
    .about-content{
        padding: 0;
    }
    .card{
        height: 143px;
        margin-bottom: 12px;
    }
    .card-padding{
        padding: 0 6px;
    }
    .pad-l{
        padding: 0 9px;
    }
    .card span:first-child{
        margin-bottom: 10px;
    }
    .about-content .more-link{
        margin-top: 8px;
    }
    .projects{
        padding: 20px 0;
    }
    .project-text .text{
        line-height: 15px;
    }
    .project-text{
        margin-bottom: 20px;
    }
    .slick-slide .project-img{
        height: 158px;
        width: 94.5%;
    }
    .slick-cloned .project-img{
        height: 158px;
        width: 94.5%;
    }
    .slick-center .project-img{
        height: 171px;
        width: 95%;
    }
    .project-person{
        margin-top: 12px;
    }
    .members-link{
        margin-top: 15px;
    }
    .services {
        padding: 20px 0 10px 0;
    }
    .services-text{
        margin-bottom: 20px;
    }
    .services-text h1{
        line-height: 22px;
        margin-bottom: 8px;
    }
    .mg-center-2{
        margin: 0 auto;
    }
    .add-color{
        padding:  0 2px;
    }
    .services-item{
        margin-bottom: 10px;
        height: 210px;
        padding:  0 25px;
        border-radius: 10px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .services-item .white-box{
        width: 57px;
        height: 57px;
    }
    .services-item h2{
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .recent-projects{
        padding: 20px 0 40px 0;
        position: relative;
    }
    .recent-project-text{
        margin-bottom: 20px;
    }
    .recent-project-text h1{
        margin-bottom: 8px;
        line-height: 22px;
    }
    .right-side-links{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .recent-item .recent-project-img{
        height: 167px;
    }
    .pad-l-r{
        padding:  0 5px;
    }
    .recent-item .recent-text h2{
        font-size: 14px;
    }
    .recent-item .recent-text .text{
        font-size: 12px;
        line-height: 15px;
    }
    .advert-item{
        font-size: 14px;
        line-height: 20px;
        max-width: 65%;
    }
    .advert-box{
        padding: 20px 0;
    }
    .advert-contact{
        margin-top: 9px;
    }
    .footer{
        padding: 20px 0;
    }
    .fot-row{
        width: 100%;
    }
    .footer-social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fot-col{
        display: none;
    }
    .fot-col:first-child{
        display: block;
        margin: 0 auto
    }
    .socials{
        padding-left: 0;
    }
    .social-icon:first-child{
        margin-left: 0;
    }
    /* Home Page */   
}


@media (max-width:670px){
    .opens .burg-menu{
        right: -90px;
    }
}
@media (max-width:575px){
    .opens .burg-menu{
        right: -195px;
    }
    .opens .burg-menu .burger-links{
        width: 450px;
    }
    .burger-links{
        align-items: flex-start;
    }
    .services-item{
        width: 100%;
        margin-bottom: 10px;
    }
}
